.app {
  width: 300px;
  margin: 20px auto;
  border: green 1px solid;
  padding: 10px;
  border-radius: 10px;
}

.dp {
  width: 100%;
}

.textbox {
  margin: 0 auto;
  padding: 10px;
}

.red {
  background-color: red;
}
